body {
    font-family: system-ui;
    background: #b6560d;
    color: white;
    text-align: center;
  }

  h1{
    padding: 50px;
    margin: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
  }